name: Build

on:
  workflow_dispatch:
  repository_dispatch:
    types: [update]

  push:
    branches:
      - main
    paths:
      - 'automation/pyproject.toml'
      - 'automation/uv.lock'
      - '**.py'
      - 'config.yaml'
      - '.github/workflows/build.yml'

  pull_request:
    branches:
      - main
    paths:
      - 'automation/pyproject.toml'
      - 'automation/uv.lock'
      - '**.py'
      - 'config.yaml'
      - '.github/workflows/build.yml'

permissions:
  contents: write

jobs:
  produce-csv:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
    - uses: actions/checkout@v5

    - name: Checkout and update the translation-backup submodule
      run: git submodule update --init --remote

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.12

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version: latest

    - name: Install library and dependencies
      run: |
        cd automation
        uv sync --no-group dev
        pipx install poethepoet

    - name: Process po files
      run: |
        cd automation
        poe process ../

    - name: Upload csv artifact
      uses: actions/upload-artifact@v4
      with:
        name: artifact_csv
        path: translation_build

  produce-mo:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v5

    - name: Checkout and update the translation-backup submodule
      run: git submodule update --init --remote

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.12

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version: latest

    - name: Install library and dependencies
      run: |
        cd automation
        uv sync --no-group dev
        pipx install poethepoet

    - name: Create mo files
      run: |
        cd automation
        poe create-mo ../

    - name: Upload mo artifact
      uses: actions/upload-artifact@v4
      with:
        name: artifact_mo
        path: translation_build

  push-changes:
    needs: [produce-csv, produce-mo]
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v5

    - name: Remove old data
      run: rm -rf translation_build

    - name: Download artifacts
      uses: actions/download-artifact@v5
      with:
        pattern: artifact_*
        merge-multiple: true
        path: translation_build

    - name: Push changes to the repository
      if: ${{ !contains(fromJSON('["push", "pull_request"]'), github.event_name) }}
      uses: EndBug/add-and-commit@v9.1.4
      with:
        author_name: github-actions[bot]
        author_email: 41898282+github-actions[bot]@users.noreply.github.com

  trigger-update-data:
    if: ${{ !contains(fromJSON('["push", "pull_request"]'), github.event_name) }}
    needs: push-changes
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
    - name: Dispatch dictionary manifest update
      uses: peter-evans/repository-dispatch@v3
      with:
        token: ${{ secrets.REPOSITORY_DISPATCH_PAT }}
        repository: dfint/update-data
        event-type: dict
